.application-list-item {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
}

.application-summary p,
.application-details p {
    margin: 0.5rem 0;
}

.application-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

.application-details.open {
    max-height: 1000px;
    transition: max-height 1s;
}

.application-details-button {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.application-details-extra-buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.show-details-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.application-details-button {
    cursor: pointer;
    font-size: 0.95rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.6rem;
    margin: 0;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.standard-button {
    background-color: #313a4c;
}

.standard-button:hover {
    background-color: #181c25;
}

.edit-button {
    background-color: #47d854;
}

.edit-button:hover {
    background-color: #2f9b3b;
}

.delete-button {
    background-color: #da3838;
}

.delete-button:hover {
    background-color: #a82b2b;
}