.group-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
}

.group-add-button {
    color: white;
    background-color: #313a4c;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    cursor: pointer;
}

.group-add-button:hover {
    background-color: #181c25;
}

.group-list {
    list-style-type: none;
    padding: 0;
}

.group-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    min-width: 500px;
    cursor: pointer;
}

.group-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.group-details {
    flex: 1;
}

.group-details h3 {
    margin: 0 0 10px;
}

.group-details p {
    margin: 5px 0;
}