.course-students-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.remove-from-course-button {
    color: #f44336;
    background-color: inherit;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.student-list-data {
    display: flex;
    flex-direction: column;
    padding: 10px;
}