.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #313a4c;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}