h1 {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 2rem;
}

h2 {
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: inherit;
}

p {
    font-size: 1.1rem;
    padding: 0.5rem 0.8rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.1s ease-in-out;
    outline: none;
    border: none;
    font-style: italic;
    text-align: center;
    background-color: gainsboro;
}

p:focus {
    outline: 2px solid black;
}

p:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}

.button-panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: lightgreen;
    border-radius: 10px;
    padding: 0.3rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    padding: 0.5rem 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.1s ease-in-out;
    outline: none;
    border: none;
}

button:hover {
    transform: translateY(-2px);
    transition: transform 0.1s linear;
    outline: 2px solid black;
}

button:active {
    transform: translateY(2px);
}

.delete-button-text {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s linear;
}

.delete-button-text:hover {
    background-color: #c82333;
    transform: translateY(-2px);
    outline: 2px solid black;
}

button:active {
    transform: translateY(2px);
}

.clickable {
    cursor: pointer;
}

.app-info-container {
    position: relative
}