@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("https://as2.ftcdn.net/v2/jpg/04/97/72/83/1000_F_497728362_47Hkb9Y2Z7qOJPNq96ya6Bu7Xbj48FV5.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    overflow: auto;
}

.panel {
    margin: 1rem;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    padding: 1.2rem;
    min-width: 250px;
    width: 18%;
    border-radius: 10px;
}

h1 {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 2rem;
}

h2 {
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    text-align: center;
}

p {
    font-size: 1.1rem;
    padding: 0.5rem 0.8rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.1s ease-in-out;
    outline: none;
    border: none;
    font-style: italic;
    text-align: center;
    background-color: gainsboro;
}

p:focus {
    outline: 2px solid black;
}

p:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.center {
    text-align: center;
}

button {
    background-color: lightgreen;
    border-radius: 10px;
    padding: 0.3rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    padding: 0.5rem 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.1s ease-in-out;
    outline: none;
    border: none;
}

button:hover {
    transform: translateY(-2px);
    transition: transform 0.1s linear;
    outline: 2px solid black;
}

button:active {
    transform: translateY(2px);
}

@media only screen and (max-width: 600px) {

    label {
        font-size: 1.3rem;
    }

    input,
    select {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 350px) {

    .panel {
        width: 100%;
        min-width: 0;
    }
}